# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
*.pem
*.key
*.pfx
*.crt
.env

# Terraform plan files
*.tfplan
tfplan
